@charset "utf-8";

@font-face {
  font-family: 'Steelfish Regular';
  src: local('♥'),
    url('fonts/steelfish rg.otf') format('opentype');
}

body {
  background-color: #000312;
}

h1#logo {
  color: #fff;
  font-family: 'Steelfish Regular';
  font-size: 58px;
  font-weight: normal;
  letter-spacing: 12px;
  text-transform: uppercase;
  text-align: center;
}
